<section id="commitment" class="flex flex-col min-h-screen snap-center snap-always">
	<div class="p-16">
		<h3 class="text-6xl font-serif">El nostre compromís</h3>
		<p class="text-3xl my-12 font-sans">
			Escollim la proximitat i en el tracte directe. Ens agrada conéixer als nostres clients, assessorar-los i
			oferir-los solucions a mesura.
		</p>
		<p class="text-3xl my-12 font-sans font-medium">
			Sense venda online, apostem per un servei personalitzat on cada projecte rep l'atenció que mereix.
		</p>
	</div>
	<img class="flex-grow object-contain object-bottom" src="images/baldosas.webp" alt="Baldosas">
</section>