<section id="history" class="min-h-screen snap-center snap-always">
	<div class="w-5xl p-16">
		<h3 class="text-6xl font-serif mb-8">La nostra història</h3>
		<p class="text-xl font-sans">
			La nostra trajectòria va començar en els anys 60, gràcies a l'esforç i dedicació de
			Francisco Cuallado Baixauli. Amb el temps, hem crescut i evolucionat, adaptant-nos
			a les necessitats del mercat amb noves instal·lacions, tecnologia i formes de treball.
		</p>
	</div>
</section>