---
import MenuItem from "./MenuItem.astro";
---

<section>
	<nav id="default-menu" class="bg-black/80 content-center text-center font-sans text-white font-medium md:text-5xl text-3xl hidden top-0 fixed h-full w-full">
		<ul>
			<MenuItem text="QUI SOM?" anchor="#who" responsive />
			<MenuItem text="LA NOSTRA HISTÒRIA" anchor="#history" responsive />
			<MenuItem text="EL NOSTRE COMPROMÍS" anchor="#commitment" responsive />
			<MenuItem text="ELS NOSTRES SERVEIS" anchor="#services" responsive />
			<MenuItem text="CONTACTA AMB NOSALTRES" anchor="#contact" responsive />
		</ul>
	</nav>
	<button id="menu-button" class="xl:hidden fixed top-8 right-8 cursor-pointer" aria-label="Toggle Menu">
		<svg class="w-12 h-12" aria-hidden="true" fill="none" viewBox="0 0 17 14">
			<path id="svg-path" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
		</svg>
	</button>
</section>

<script>
	const defaultMenu = document.getElementById("default-menu");
	const menuItem = document.querySelectorAll("a.w-auto");
	const menuButton = document.getElementById("menu-button");
	const svgPath = document.getElementById("svg-path");

	menuButton!.addEventListener("click", () => {
		defaultMenu!.classList.toggle("block");
		defaultMenu!.classList.toggle("hidden");
		if (defaultMenu!.classList.contains("block")) {
			svgPath!.setAttribute('stroke', 'white');
		} else {
			svgPath!.setAttribute('stroke', 'black');
		}
	});

	menuItem.forEach(item => {
		item!.addEventListener("click", () => {
			defaultMenu!.classList.toggle("block");
			defaultMenu!.classList.toggle("hidden");
			if (defaultMenu!.classList.contains("block")) {
				svgPath!.setAttribute('stroke', 'white');
			} else {
				svgPath!.setAttribute('stroke', 'black');
			}
		});
	});
</script>