<section id="services" class="md:min-h-screen">
	<img class="object-contain object-top" src="images/colores.webp" alt="Colores">
	<div class="xl:p-16 p-8">
		<h3 class="text-6xl font-serif">El nostres serveis</h3>
		<p class="text-3xl my-16 font-sans">
			En Cuallado, oferim solucions completes per a la construcció, combinant qualitat, experiència i un tracte pròxim.
			Comptem amb dues àrees principals de treball:
		</p>
		<div class="md:columns-2 gap-32">
			<div>
				<h4 class="text-4xl font-serif font-medium">
					Venda de material de construcció
				</h4>
				<p class="text-2xl my-8 font-sans">
					Disposem d'un ampli catàleg de materials per a
					professionals i particulars. Assessorem
					personalment cada client per a garantir que trobe
					exactament el que necessita per al seu projecte.
				</p>
			</div>
			<div>
				<h4 class="text-4xl font-serif font-medium">
					Transport, logística i serveis
				</h4>
				<p class="text-2xl my-8 font-sans">
					Som un magatzem logístic i de distribució de
					materials per a facilitar el treball dels nostres clients.
					A més, comptem amb servei de transport propi per
					al lliurament de mercaderia.
				</p>
			</div>
		</div>
	</div>
</section>