<section id="who" class="min-h-screen columns-2">
	<div class="min-h-screen p-12 content-center">
		<h3 class="text-6xl font-serif">Qui som?</h3>
		<p class="text-3xl my-12 font-sans">
			Som una empresa familiar amb més de 60
			anys d'experiència en el sector de la
			construcció. Des dels nostres inicis, hem
			treballat amb un objectiu clar:
		</p>
		<p class="text-3xl font-sans font-medium">
			Oferir el millor servei i els millors materials
			perquè els nostres clients puguen construïr
			amb confiança i qualitat.
		</p>
	</div>
	<img class="" src="images/metal.webp" alt="Láminas de metal" />
</section>